.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc( 100vh - 48px);
    padding: clamp(20px, 20vw ,500px);
    margin-bottom: 20px;
}

.h2,.p{
    margin: 0px;
}

.h1{
    font-weight: 700;
    font-size: clamp(1.7rem, 3.5vw, 4rem);
    line-height: normal;
    margin: clamp(1rem,1vw,2rem) 0px;
}

.h2{
    font-size: clamp(1.2rem, 2vw, 3rem);
}

.p{
    font-size: clamp(1rem, 1.2vw, 2rem);
    max-width: 600px;
    text-align: justify;
}

@media (max-width: 600px){
    .main{
        padding: 30px;
    }
}