.contenedor-proyecto{
    width: 100%;
    padding: 10px;
    background-color: #222222;
    border-radius: 1rem;
}

.contenedor-imagenes{
    width: 100%;
    aspect-ratio: 1/.6;
}

.img{
    width: 100%;
    aspect-ratio: 1/.6;
    object-fit: cover;
    border-radius: .5rem;
}

.h2{
    font-size: 18px;
    margin: 15px 0px 5px 0px;
}